.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/metadata-updater/generatedJSON/PhoneNumberMetaData.json
/metadata-updater/generatedJSON/ShortNumberMetadata.json
/metadata-updater/generatedJSON/PhoneNumberMetaDataForTesting.json

